<div class="ui container">
  <div class="ui grid">
    <div class="column">

<h1>Editing Admin Manifest</h1>

<%= render 'form' %>

<%= link_to 'Show', @admin_manifest %> |
<%= link_to 'Back', admin_manifests_path %>

    </div>
  </div>
</div>