<div class="ui container">
  <div class="ui grid">
    <div class="column">
      
<h1>New Admin Manifest</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_manifests_path %>

    </div>
  </div>
</div>