<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @admin_manifest.url %>
</p>

<%= link_to 'Edit', edit_admin_manifest_path(@admin_manifest) %> |
<%= link_to 'Back', admin_manifests_path %>
