<div class="ui container">
  <div class="ui grid">
    <div class="column">

<h1>New Admin User Role</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_user_roles_path %>

    </div>
  </div>
</div>