.annowin_anno {
  .menu_bar {
    background-color: @light-blue;
  }
  .menu_bar.targeting_anno {
    background-color: @light-green;
  }
}

.annowin_anno {
  border: solid 1px #808080;
  background-color: #fafafa;
}

.annowin_anno:hover {
  border-color: #71bcd1;
}

.annowin_anno .info_view {
  font-size: 0.9em;
  background-color: #f0f0ff;
}

.annowin_focused {
  border-color: #71bcd1;
  border-width: 2px;
}

.annowin_targeted {
  border-color: orange;
  border-width: 2px;
}

.annowin_info {
  color: #4684cc;
}

.annowin_info.anno_on_anno {
  color: #1f995a;
}

.annowin_anno .content {
  padding: @annowin-v-padding @annowin-h-padding;
}