<%= render 'header' %>

<div class="ui main container">
  <div class="ui grid">
    <div class="column">
      <ul>
        <% @rooms.each do |room| %>
          <li><%= room_link(room) %></li>
        <% end %>
      </ul>
    <div>
  </div>
</div>
