<div class="ui container">
  <div class="ui grid">
    <div class="column">
      <h1>Admin</h1>
      
      <hr/>
      
      <p>
        <%= raw version_info %>
      </p>
      
      <hr/>
      
      <p>
        <ul>
          <li><a href="/admin/settings">Settings</a></li>
          <li><a href="/admin/rooms">Rooms</a></li>
          <li><a href="/admin/manifests">Manifests</a></li>
          <li><a href="/admin/import">Import</a></li>
        </ul>
      </p>
      
    </div>
  </div>
</div>