<div id="mirador_header">
  <div class="ui dropdown item mr_top_menu">
    Menu <i style="margin-left: 5px" class="fa fa-caret-down"></i>
    <div class="menu">
      <div id="mr_menu_add_window" class="item">Add annotation window</div>
    </div>
  </div>
</div>

<div id="mr_grid"></div>

<div id="mr_annotation_dialog">
</div>

<div id="viewer_template">
  <div id="{{id}}" manifest_url="<%= @manifest_url %>"
    endpoint_url="<%= @endpoint_url %>" room_id="<%= @room_id %>">
  </div>
</div>
