<div id="yale-mirador" class="ym-grid">
  <div id="ym_annotation_dialog"></div>
</div>
<script type="text/javascript">
(function() {
  console.log(window._YaleMiradorVersion);
  var app = window.YaleMirador.getApp();
  app.init(<%= @settings.to_json.html_safe %>).catch(function (reason) {
    console.error('Failed to init Mirador', reason);
    window.YaleMirador.fatalError(reason, 'Initializing the app');
  });
})();
</script>
