<%= render 'header' %>

<div id="mr_grid"></div>

<div id="mr_annotation_dialog">
</div>

<div id="viewer_template">
  <div id="{{id}}" manifest_url="<%= @manifest_url %>"
    endpoint_url="<%= @endpoint_url %>" room_id="<%= @room_id %>">
  </div>
</div>
