<div class="main ui container">
  <div class="ui grid">
    <div class="column">
      <h1><%= @room.title %></h1>
      
      <div>
        <ul>
          <% @manifests.each do |manifest| %>
            <li>
              <a target="_blank" href="<%= mirador_url(manifest.url) %>"><%= manifest.title %></a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
