<%= render 'header' %>

<div class="main ui container">
  <div class="ui grid">
    <div class="column">
      
      <div class="ui breadcrumb">
        <a href="/">Home</a>
        <div class="divider"> / </div>
        <div class="active section"><%= @room.title %></div>
      </div>

      <div>
        <ul>
          <% @manifests.each do |manifest| %>
            <li>
              <a target="_blank" href="<%= mirador_url(manifest.url, manifest.title) %>"><%= manifest.title %></a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
