<p id="notice"><%= notice %></p>

<p>
  <strong>Endpoint url:</strong>
  <%= @admin_setting.endpoint_url %>
</p>

<%= link_to 'Edit', edit_admin_setting_path(@admin_setting) %> |
<%= link_to 'Back', admin_settings_path %>
