@import 'mirador';
@import 'variables';
@import 'header';
@import 'mirador_ext/mirador';
@import 'mirador_ext/grid';
@import 'mirador_ext/annotation_dialog';
@import 'mirador_ext/annotation_window/annotation_window';
@import 'mirador_ext/annotation_window/annotation_cell';

/* 
 * Overriding Semantic UI
 */
 
.ui.selection.dropdown {
  padding: @annowin-v-padding @annowin-h-padding;
  min-height: 1em;
  white-space: nowrap;
}

/* 
 * Overriding GoldenLayout
 */
 
 .lm_item_container {
   position: relative;
 }

.mr_float_right {
  float: right;
  
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
