<div class="ui masthead vertical segment mr_header">
  <div class="ui container">
    <h1 class="ui header"><%= @title %></h1>
    <!-- link_to "Log out", destroy_user_session_path, method: :delete-->
    <div class="mr_float_right">
      <span class="mr_user_label"><%= @userLabel %></span>
      <button class="ui button mr_login">Log in</button>
    </div>
  </div>
  <div class="ui clearing divider"/>
</div>
