<div class="ui masthead vertical segment mr_header">
  <div class="ui container">
    <h1 class="ui header"><%= @title %></h1>
    <div class="mr_float_right">
      <span class="mr_user_label"><%= @userLabel %></span>
      <% if user_signed_in? %>
        <div class="ui teal button mr_logout_button">
          <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
        </div>
      <% else %>
        <div class="ui dropdown teal button mr_login_dropdown">
          <div style="white-space: nowrap">
            Log in with
            <i class="dropdown icon"></i>
          </div>
          <div class="menu">
            <div class="item" data-value="/users/auth/cas">CAS</div>
            <div class="item" data-value="/users/auth/google_oauth2">Google</div>
            <div class="item" data-value="/users/auth/facebook">Facebook</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui clearing divider"/>
</div>
