<div class="ui masthead vertical segment mr_header">
  <div class="ui container">
    <h1 class="ui header"><%= @title %></h1>
    <div class="mr-right">
      <%= render 'login' %>
    </div>
  </div>
  <div class="ui clearing divider"/>
</div>
